/*  your css code here. If applicable */
.main{
	  height: 100vh;
	background-color:rgb(246,246,246);
	  
}
input{
	width:40px;
}
.main-content{
	width: 420px;
    align-items: center;
}

.content{
	width:600px;
	margin:auto;
	background-color:white;
	
	
}

.summary{
	background-color:#f7fbff;
	border-top:4px solid #5ea4f3;
}